
@model StoreApplication.Models.PaginatedList<StoreApplication.Models.Product>

@{
    ViewData["Title"] = "Index";
}

@*Search*@

<form asp-action="Index" method="post" style="margin : 20px 0px;">
    <div class="form-actions no-color">
        <p>
            <strong>Search:</strong>
            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]"
                   placeholder="Product Name..." style="width: 80%; border-radius:5px;" />
            <input type="submit" value="Search" class="btn btn-default" />
        </p>
    </div>
</form>

@*Sort*@

@if (ViewData["CurrentSort"].ToString() == "title_asc")
{
    ViewData["SortTitle"] = "title_desc";
    ViewData["SortPrice"] = "price_asc";
}
else if (ViewData["CurrentSort"].ToString() == "price_asc")
{
    ViewData["SortPrice"] = "price_desc";
    ViewData["SortTitle"] = "title_asc";
}
else
{
    ViewData["SortTitle"] = "title_asc";
    ViewData["SortPrice"] = "price_asc";
}

@*Session Timeout*@
<script language="javascript" type="text/javascript">

    var userId = '@(ViewBag.userId)';

    var sessionTimeoutWarning = .5;

    var timeOut = sessionTimeoutWarning * 60 * 1000;

    if (userId != "" ) {
        setTimeout('SessionWarning()', timeOut);
    }

    function SessionWarning() {
        var message = "Your session will expire in another " +
            " mins and you will be logged out!";

        setTimeout('loggedOut()', timeOut);
        alert(message);
    }

    function loggedOut() {
        var message = "Please login!";
        alert(message);
        document.getElementById("logoutForm").submit();
    }
</script>

<p>
    <a asp-controller="Product" asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th></th>

            <th>
                <a asp-action="Index" asp-route-searchString="@ViewData["CurrentFilter"]" asp-route-sortOrder=@ViewData["SortTitle"]>ProductName</a>
            </th>

            <th>
                @Html.DisplayName("ProductImage")
            </th>

            <th>
                <a asp-action="Index" asp-route-sortOrder=@ViewData["SortPrice"]> Price</a>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @*<img src="~/images/not-found.jpg" style="max-width:100px;max-height:100px" />*@
                    <img src="@(ViewBag.Base64String = "data:image/jpg;base64," + Convert.ToBase64String(item.ProductImage, 0, item.ProductImage.Length))" style="max-width:100px;max-height:100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.ProductId">Cart</a> |
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*Clear Cookies*@

@Html.ActionLink("Clear Search Result", "ClearCookie", "Home", new { key = "searchString" })


@*Pagination*@

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div style="float: right;">
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex - 1)"
       asp-route-searchString="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex + 1)"
       asp-route-searchString="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
