@model StoreApplication.Models.Product

@{
    ViewData["Title"] = "UpdateAndSaveToSQL";
}

<h2>UpdateAndSaveToSQL</h2>

<div class="jumbotron jumbotron-fluid" style="width: 80%; margin: 25px auto;">
    <div class="row">
        <div class="col-md-12" style="margin: 10px auto;">
            <h3 style="text-align:center;">Updated Product</h3>
            <dl class="dl-horizontal" style="margin: 30px auto; width: 50%; font-size:20px;">
                <dt>
                    @Html.DisplayNameFor(model => model.ProductName) :
                </dt>
                <dd>
                    @Html.DisplayTextFor(model => model.ProductName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ProductImage) :
                </dt>
                <dd>
                    <img src="@(ViewBag.Base64String = "data:image/jpg;base64," + Convert.ToBase64String(Model.ProductImage, 0, Model.ProductImage.Length))" style="max-width:100px;max-height:100px" />
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Price) :
                </dt>
                <dd>
                    @Html.DisplayTextFor(model => model.Price)
                </dd>
            </dl>
        </div>
        <div style="text-align:center;">
            <a asp-controller="Home" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
