@model IEnumerable<StoreApplication.Models.Product>

@{
    ViewData["Title"] = "AddToCart";
}

<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    <img src="@(ViewBag.Base64String = "data:image/jpg;base64," + Convert.ToBase64String(item.ProductImage, 0, item.ProductImage.Length))" style="max-width:100px;max-height:100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-controller="Cart" asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-controller="Cart" asp-action="Delete" asp-route-id="@item.ProductId">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
